$section-padding-super-large: 85px;
$section-padding: 50px;
$section-padding-large: 60px;
$section-padding-small: 35px;
$bg-section-height: 600px;

.Section {
  padding: $section-padding 0;
  margin-top: -25px;

  h5, .h5 {
    color: #000;
  }
}

.Section-big {
  padding: $section-padding-super-large 0 $section-padding-super-large - 60;
}

.Section-black {
  padding: $section-padding-small - 15 0 $section-padding-small;
  background: #000;
  color: #fff;

  hr {
    margin: 10px 0 90px;
    border-color: #333333;
  }

  .Small {
    color: #555;
  }
}

.Section-nav {
  @extend .Section-black;
  padding: 0;

  .logo {
    padding: 15px 0;
  }
}

.Section-grey {
  padding: $section-padding-large 0;
  background: #e3e0e0;
}

.Section-header {
  padding: 40px 0 10px;
  background: #39c9ce;
  color: #fff;

  .row {
    margin-right: 0;
  }

  .col12 {
    padding-right: 40px;
    background: url('../img/banner.png') right bottom no-repeat;
  }
}

.Section-eu {
  padding: 15px 0;

  span {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.NewsBlock {
  position: relative;
  height: 155px;
  margin-bottom: 24px;

  > hr {
    position: absolute;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    width: auto;
    bottom: -20px;
  }
}

.NewsBlock-big {
  @extend .NewsBlock;
  height: 320px;

  a.h5 {
    margin-bottom: 3px;
  }
}

.NewsBlockInfo {
  position: absolute;
  bottom: -5px;
  left: -320px;
  width: 320px;

  > h3 {
    margin-bottom: 0;
  }
}

.ContactBlock {
  @extend .NewsBlock;
  position: relative;
  height: 340px;
  margin-bottom: -4px;

  .type {
    padding: 25px 10px 10px 10px;
    color: #000;
    background: #e7e7e7;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
  }

  .info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 25px;

    span {
      @extend .Phone;
      margin-bottom: 5px;
    }
  }
}

