*, *:before, *:after, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 *, .ie7 *:before, .ie7 *:after, .ie7 .col1, .ie7 .col2, .ie7 .col3, .ie7 .col4, .ie7 .col5, .ie7 .col6, .ie7 .col7, .ie7 .col8, .ie7 .col9, .ie7 .col10, .ie7 .col11, .ie7 .col12 {
  behavior: url("../htc/boxsizing.htc");
}

.Button, .ShowAll,
.ShowPrev,
.ShowNext {
  transition: background 0.2s ease, opacity 0.2s ease;
}

dl, .cont, .row, .mcf {
  *zoom: 1;
}
dl:after, .cont:after, .row:after, .mcf:after {
  content: "";
  display: table;
  clear: both;
}

.list-reset {
  margin: 0;
  list-style: none;
}
.list-reset li {
  padding: 0;
  background-image: none;
}

.list-no-bullets {
  margin-left: 0;
  list-style: none;
}
.list-no-bullets > li {
  padding: 0;
  background-image: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #555555;
  background: white;
  font: 400 15px/1.25 Arial, Helvetica, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
blockquote {
  display: block;
}

[hidden] {
  display: none;
}

a {
  font: 700 17px/1 "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
  color: red;
  text-decoration: none;
  transition: color 0.2s ease, opacity 0.2s ease;
}
a:hover, a:active {
  outline: 0;
}
a img {
  transition: opacity 0.9s ease;
  -webkit-transform: translateZ(0);
}
a:hover, a:focus {
  color: #cc0000;
  text-decoration: underline;
}
a:hover img, a:focus img {
  opacity: 0.85;
}
a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

b, strong {
  font-weight: 700;
}

small {
  display: inline-block;
  font-size: 85%;
  line-height: 1.2;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  clear: both;
  display: inline-block;
  width: 100%;
  height: 0;
  margin: 27px 0 24px;
  border: 0;
  border-top: 2px solid #000;
  vertical-align: bottom;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

p, ul, ol, dl, form, fieldset, small {
  margin: 8px 0 20px;
  padding: 0;
  font-size: 15px;
  font-weight: 300;
}

p + h5 {
  margin-top: 30px;
}

ul, ol {
  list-style-position: outside;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

dt, dd {
  float: left;
  clear: both;
}

dd {
  clear: none;
  margin-left: 10px;
}

h1, .h1 {
  margin: 0 0 25px;
  font: 300 48px/1 "Roboto Slab", "Myriad Pro", "Segoe UI", Arial, Helvetica, serif;
  color: #000;
}
h1.large, .h1.large {
  margin: 0 0 170px;
  font-size: 66px;
  line-height: 0.9em;
}

h2, .h2, .Number {
  margin: 0 0 40px;
  font: 500 36px/0.91 "Roboto Slab", "Myriad Pro", "Segoe UI", Arial, Helvetica, serif;
}

h3, .h3, .SubTitle {
  margin: 0 0 25px;
  font: 300 27px/1.2 "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
  color: #555;
}

h4, .h4 {
  margin: 0 0 20px;
  font: 300 24px "Roboto Slab", "Myriad Pro", "Segoe UI", Arial, Helvetica, serif;
}

h5, .h5 {
  margin: 0 0 30px;
  font: 700 17px "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
}

h6, .h6 {
  margin: 0 0 20px;
  font: 700 17px/1 "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.h1, .h2, .Number, .h3, .SubTitle, .h4, .h5, .h6 {
  display: block;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

td, th {
  text-align: left;
  vertical-align: top;
}

input,
button,
select,
textarea {
  margin: 0;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: none;
}
.ie7 button, .ie7
input[type="button"], .ie7
input[type="reset"], .ie7
input[type="submit"] {
  overflow: visible;
}

input[disabled],
button[disabled] {
  cursor: default;
  opacity: 0.75;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  line-height: normal;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.cont {
  max-width: 1020px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.oldie .cont {
  min-width: 600px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
  font-size: 0;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  position: relative;
  display: inline-block;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  vertical-align: top;
}
.ie7 .col1, .ie7 .col2, .ie7 .col3, .ie7 .col4, .ie7 .col5, .ie7 .col6, .ie7 .col7, .ie7 .col8, .ie7 .col9, .ie7 .col10, .ie7 .col11, .ie7 .col12 {
  display: inline;
  zoom: 1;
}

.col1 {
  width: 8.33333%;
}

.col2 {
  width: 16.66667%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33333%;
}

.col5 {
  width: 41.66667%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33333%;
}

.col8 {
  width: 66.66667%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33333%;
}

.col11 {
  width: 91.66667%;
}

.col12 {
  width: 100%;
}

.col-offset1 {
  margin-left: 8.33333%;
}

.col-offset2 {
  margin-left: 16.66667%;
}

.col-offset3 {
  margin-left: 25%;
}

.col-offset4 {
  margin-left: 33.33333%;
}

.col-offset5 {
  margin-left: 41.66667%;
}

.col-offset6 {
  margin-left: 50%;
}

.col-offset7 {
  margin-left: 58.33333%;
}

.col-offset8 {
  margin-left: 66.66667%;
}

.col-offset9 {
  margin-left: 75%;
}

.col-offset10 {
  margin-left: 83.33333%;
}

.col-offset11 {
  margin-left: 91.66667%;
}

.col-offset12 {
  margin-left: 100%;
}

.Section {
  padding: 50px 0;
  margin-top: -25px;
}
.Section h5, .Section .h5 {
  color: #000;
}

.Section-big {
  padding: 85px 0 25px;
}

.Section-black, .Section-nav {
  padding: 20px 0 35px;
  background: #000;
  color: #fff;
}
.Section-black hr, .Section-nav hr {
  margin: 10px 0 90px;
  border-color: #333333;
}
.Section-black .Small, .Section-nav .Small {
  color: #555;
}

.Section-nav {
  padding: 0;
}
.Section-nav .logo {
  padding: 15px 0;
}

.Section-grey {
  padding: 60px 0;
  background: #e3e0e0;
}

.Section-header {
  padding: 40px 0 10px;
  background: #39c9ce;
  color: #fff;
}
.Section-header .row {
  margin-right: 0;
}
.Section-header .col12 {
  padding-right: 40px;
  background: url("../img/banner.png") right bottom no-repeat;
}

.Section-eu {
  padding: 15px 0;
}
.Section-eu span {
  font-size: 11px;
  text-transform: uppercase;
}

.NewsBlock, .NewsBlock-big {
  position: relative;
  height: 155px;
  margin-bottom: 24px;
}
.NewsBlock > hr, .NewsBlock-big > hr {
  position: absolute;
  left: 20px;
  right: 20px;
  width: auto;
  bottom: -20px;
}

.NewsBlock-big {
  height: 370px;
}

.NewsBlockInfo {
  position: absolute;
  bottom: 0;
  left: -320px;
  width: 320px;
}
.NewsBlockInfo > h3 {
  margin-bottom: 0;
}

.Nav {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 0;
  list-style-type: none;
}
.Nav > li {
  display: inline-block;
  list-style-type: none;
}
.Nav a {
  display: inline-block;
  padding: 15px;
  line-height: 18px;
  font-size: 14px;
  color: #999;
}
.Nav a.special {
  color: #ff0000;
}
.Nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

.Button {
  display: inline-block;
  padding: 0 25px 0 25px;
  background: #f22;
  color: #fff;
  line-height: 47px;
}
.Button:hover {
  background: #cc0000;
  text-decoration: none;
  color: #fff;
}

.Button-seeMore {
  padding-left: 15px;
}
.Button-seeMore:before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/see-more.png") no-repeat;
}

.Number {
  color: #39c9ce;
}

a.h5 {
  color: #000;
}

.Small {
  font-size: 12px;
}

.Phone {
  color: #999;
  font-weight: 700;
}

.SubTitle {
  font-size: 19px;
}

.ShowAll,
.ShowPrev,
.ShowNext {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 0;
}

.ShowAll {
  background: url("../img/show-all.png") center center no-repeat;
}

.ShowPrev {
  background: white url("../img/left-arrow.png") center center no-repeat;
}

.ShowNext {
  background: white url("../img/right-arrow.png") center center no-repeat;
}

.ShowPrev:hover,
.ShowNext:hover {
  background-color: #e6e6e6;
}

/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(../img/lightbox/close.png) url(../img/lightbox/loading.gif) url(../img/lightbox/prev.png) url(../img/lightbox/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  display: inline-block;
  background-color: white;
  *zoom: 1;
  min-width: 80px;
  min-height: 60px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 23%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/lightbox/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../img/lightbox/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../img/lightbox/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100% !important;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}

/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 100%;
  text-align: center;
  line-height: 1.1em;
}

/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/lightbox/close.png) top right no-repeat;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: 6000;
}

/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#mod .mtac {
  text-align: center;
}
#mod .mtal {
  text-align: left;
}
#mod .mtar {
  text-align: right;
}
#mod .mnp {
  padding: 0;
}
#mod .mnm {
  margin: 0;
}
#mod .mdb {
  display: block;
}
#mod .mdib {
  display: inline-block;
}
#mod .mdi {
  display: inline;
}
#mod .mvat {
  vertical-align: top;
}
#mod .mvam {
  vertical-align: middle;
}
#mod .mvab {
  vertical-align: bottom;
}
#mod .mmb1 {
  margin-bottom: 10px;
}
#mod .mmb2 {
  margin-bottom: 20px;
}
#mod .mmb3 {
  margin-bottom: 30px;
}
#mod .mmb4 {
  margin-bottom: 40px;
}
#mod .mmb5 {
  margin-bottom: 50px;
}
#mod .mmt1 {
  margin-top: 10px;
}
#mod .mmt2 {
  margin-top: 20px;
}
#mod .mmt3 {
  margin-top: 30px;
}
#mod .mmt4 {
  margin-top: 40px;
}
#mod .mmt5 {
  margin-top: 50px;
}
#mod .mpb1 {
  padding-bottom: 10px;
}
#mod .mpb2 {
  padding-bottom: 20px;
}
#mod .mpb3 {
  padding-bottom: 30px;
}
#mod .mpb4 {
  padding-bottom: 40px;
}
#mod .mpb5 {
  padding-bottom: 50px;
}
