$base-color: #7a7a7a;
$base-font-size: 18px;
$base-font-family: "Roboto", Arial, Helvetica, sans-serif;

$link-color: #1b8dba;
$link-color-hover: shade($link-color, 20%);

$border-color: rgba(0,0,0,0.5);
$error-color: #da0011;

$font-family-1: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;

$base-background-color: #efefef;
$base-alpha-color: rgba(0,0,0, 0.05);
$second-alpha-color: rgba(#fff, 1);
